<!DOCTYPE html>
<html>
  <head>
    <title>PennBook</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
     <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
      }
      .login-box {
        max-width: 330px;
        margin: 0 auto;
      }
      .login-box .form-control {
        margin-bottom: 10px;
      }
    </style>
    </head>
   <script type="text/javascript">
    function validate(
      username
    ) {
    
      if (username == "") {
        alert("Please enter a username!");
        return false;
      } 
      return true;
    }
  </script>
  <body>
    <h1>Add Friend</h1>
 	<div>
    <form method ="post" action = "/addfriends">
      <label for="friend">Enter the friend here: <br>
      <input type="text" id="friend" name="friend"><br>
      </label>
      <br>

      <input type="submit" value="Add Friend!">
    </form>
    <% if (message != null) { %>
  		<p> <font color="red" size="3"><%= message %></p>
  	<% } %>
    </div>
  </body>
</html>
