<!DOCTYPE html>
<html>
<head></head>
<link href= "../css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
    >
    </script>
   </head>
<script src="/socket.io/socket.io.js"> </script>
<script type = "text/javascript">
var roomId;
var roomEntered;
var userName;
var theData;
var listOfNotifs = [];
var listOfGroupNotifs = [];
var listOfActiveUsers = [];
var forGroup = [];
var groupChat = false;
var groupId;
var socket = io();
function leaveChat() {
	$.getJSON('/getuser', function(theUser) {
		$.getJSON('/getroom', function(theRoom) {
			socket.emit('leave room', {
		        sender: theUser,
		        room: theRoom,
		        });
		});
		});
	$.post('/leavechat', {}, function(d,s) {});
    window.location.reload();
}
function closeForm() {
	document.getElementById("myForm").style.display = "none";
}
function sendChat() {
var str = "hello";

if ($('#input').val().trim()!== '') {
	$.getJSON('/getuser', function(theUser) {
		$.getJSON('/getroom', function(theRoom) {
			$.post('/sendmessage', {
		        nameOfUser: theUser,
		        message: $('#input').val().trim(),
		        room: theRoom,
		        date: Date.now()
		        }, function(d,s) {
		        });
		socket.emit('chat message', {
		 text: $('#input').val().trim(),
		          sender: theUser,
		          room: theRoom
		          });
		          $('#input').val('');
		          $('#input').focus();
		});

	});

}
}
$(document).ready(function() {

	setInterval(function() {
		$.post('/isinroom', {}, function(d,s) {
			if (d===true){
				
			}
			else {
				
				$.getJSON('/getchatdata', function(elements) {
users = elements;
if (users.length === $('#activeu tr').length) {
	console.log("we are currently here");
}
else {
	console.log("we have reached here");
	$('#activeu').empty();
for (var i=0; i<users.length; i++) {
	tableRow = "<tr><td>" + users[i].username.S+ "</td><td><button type='submit' id =" + i + " class='btn btn-primary'>Request to chat</button></td>";
		                      $('#activeu').append(tableRow);
				createCall(i, users);
}
}
  });
				$.getJSON('/getchatnotifs', function(elements) {
			    	notifs = elements;
					if (notifs.Items.length === listOfNotifs.length) {}
					else {
						$('#notifstable').empty();
						listOfNotifs = [];
						for (var i=0; i<notifs.Items.length; i++) {
							listOfNotifs.push(i);
					    	str = "notif"+i;
					    	tableRow = "<tr><td> <h4>" + notifs.Items[i].fromUser.S + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Join chat</button></td></tr>";
					    	$('#notifstable').append(tableRow);
					    	setButtonNotif(str, notifs, i, notifs.Items[i].receivedByUser.S, notifs.Items[i].roomId.S , notifs.Items[i].fromUser.S);
							
					    	 }
					}
			    	
			    	 
			    	});
			    $.getJSON('/getgroupnotifs', function(elements) {
			    	gnotifs = elements;
			    	if (gnotifs.Items.length === listOfGroupNotifs.length) {}
					else {

						$('#gpnotifstable').empty();
						listOfGroupNotifs = [];
						for (var i=0; i<gnotifs.Items.length; i++) {
				    	str = "gnotif"+i;
						listOfGroupNotifs.push(i);
				    	tableRow = "<tr><td><b><h4>"+gnotifs.Items[i].groupName.S + "</h4></b></td><td> <h4> Invited by: " + gnotifs.Items[i].invitedBy.S  + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Join chat</button></td></tr>";
				    	$('#gpnotifstable').append(tableRow);
				    	setgButtonNotif(str, gnotifs, i, gnotifs.Items[i].user.S, gnotifs.Items[i].roomId.S, gnotifs.Items[i].groupName.S);
				    	 }
						} 
			});
		
			}
		
	    	});
		}, 5000);

    $('#chatmessages').hide();
    $('#invites').hide();
    $.getJSON('/getchatnotifs', function(elements) {
    	notifs = elements;

    	for (var i=0; i<notifs.Items.length; i++) {
    	str = "notif"+i;
    	listOfNotifs.push(i);
    	tableRow = "<tr><td> <h4>" + notifs.Items[i].fromUser.S + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Join chat</button></td></tr>";
    	$('#notifstable').append(tableRow);
    	setButtonNotif(str, notifs, i, notifs.Items[i].receivedByUser.S, notifs.Items[i].roomId.S , notifs.Items[i].fromUser.S);
    	 }
    	});
    $.getJSON('/getgroupnotifs', function(elements) {
    	gnotifs = elements;

    	for (var i=0; i<gnotifs.Items.length; i++) {
    	str = "gnotif"+i;
    	listOfGroupNotifs.push(i);
    	tableRow = "<tr><td><b><h4>"+gnotifs.Items[i].groupName.S + "</h4></b></td><td> <h4> Invited by: " + gnotifs.Items[i].invitedBy.S  + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Join chat</button></td></tr>";
    	$('#gpnotifstable').append(tableRow);
    	setgButtonNotif(str, gnotifs, i, gnotifs.Items[i].user.S, gnotifs.Items[i].roomId.S, gnotifs.Items[i].groupName.S );

    	 }
    	 
    	});
    
socket.on("chat message", function(msg){
var message_temp = document.createElement("li");
var nameOfSender = document.createElement("p");
$.getJSON('/getuser', function(theUser) {
	if (theUser === msg.sender) {
		message_temp.setAttribute("class", "center");
		nameOfSender.setAttribute("class", "centertext");
		}
		else {
		message_temp.setAttribute("class", "outside");
		nameOfSender.setAttribute("class", "outsidetext");
		}
});

nameOfSender.appendChild(document.createTextNode(msg.sender));
message_temp.appendChild(nameOfSender);
message_temp.appendChild(document.createTextNode(msg.text));
$('#messages').append(message_temp);
$('#messages').animate({
scrollTop: $('#messages').get(0).scrollHeight
}, 0);
});
init();



 
 
 
  });
  function init(){
 $.getJSON('/getuser', function(elements) {
userName = elements;  });
 forGroup.push(userName);
$.getJSON('/getchatdata', function(elements) {
users = elements;
for (var i=0; i<users.length; i++) {
createCall(i, users);
}  });
}
  function createCall(id, usersArr){
	  
  var store_index = id;
  var arr = usersArr;
  document.getElementById(store_index).addEventListener("click", function(){
	  $.getJSON('/getuser', function(theUser) { 
		  $.post('/join', {
	          nameOfUser: usersArr[store_index].username.S
	          }, function(d,s) {
	          socket.emit('join room', {
	          sender: theUser,
	          room: d
	          });
	          
	          $.post('/getinfo', {
	              fren: usersArr[store_index].username.S
	              }, function(d,s) {
	           	   var fullName = d.Items[0].first.S + " " + d.Items[0].last.S;
	           	   var userAt = "@" + d.Items[0].username.S;
	           	   $('#chatname').text(fullName);
	           	   $('#chatusername').text(userAt);
	              });
	          forGroup.push(usersArr[store_index].username.S);
	          $('#messages').empty();
	          $('#chatmessages').addClass("split");
	          $('#chatmessages').addClass("right");
	          $('#notifications').hide();
	          $('#activeusers').hide();
	          $('#chatmessages').show();
	          $('#invites').addClass("split");
	          $('#invites').addClass("left");
	          $('#invites').show();
	          $('#groupchats').hide();

	          $.getJSON('/getpeoplenotinchat', function(elements) {
	        	  console.log(elements);
	              activeUsers = elements;
	             
	              for (var i=0; i<activeUsers.length; i++) {
	              var str = "users"+i;

	            	  tableRow = "<tr><td> <h4>" + activeUsers[i] + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Invite</button></td></tr>";
	                  $('#groupinvites').append(tableRow);
	                  
	                  groupChatButton(str, activeUsers[i], usersArr[store_index].username.S);
	              
	             
	               }
	               
	              });
	    	  
	          addMessages()
	         
	          });
		  });
   
  

});
  }
  function groupChatButton (id, newFriend, fren2, theDate){
	  
	  var store_index = id;
	  var newF = newFriend;
	  var f2 = fren2;
	  var theDate = Date.now();
	document.getElementById(store_index).addEventListener("click", function(){
		document.getElementById("myForm").style.display = "block";  
		document.getElementById("gName").addEventListener("click", function(){
			document.getElementById("myForm").style.display = "none";
			var roomIdNew = roomId + theDate;
			  roomId = roomIdNew;
			  forGroup.push(newF);
			  $.getJSON('/getuser', function(theUser) {
				  $.post('/sendgroupchatnotif', {
		          friend1: theUser,
		          friend2: f2,
		          friend3: newF,
		          timestamp: theDate,
			  	  groupRoomId: theUser+theDate,
			  	  groupName: $('#gInput').val().trim()
		          }, function(d,s) {
		        	  
		        	  socket.emit('join room', {
		    	          sender: theUser,
		    	          room: theUser+theDate,
		    	          });

		        	  $('#messages').empty();
		        	  $('#groupinvites').empty();
		        	  $('#chatname').text($('#gInput').val().trim());
		           	   $('#chatusername').empty();
		              
		              $.getJSON('/getpeoplenotingc', function(elements) {
		                  activeUsers = elements;

		                  for (var i=0; i<activeUsers.length; i++) {
		                  var str = "usersNew"+i;
		                	  tableRow = "<tr><td> <h4>" + activeUsers[i]+ "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Invite</button></td></tr>";
		                      $('#groupinvites').append(tableRow);
		                      
		                      groupChatButtonAfterGroup(str, activeUsers[i], $('#gInput').val().trim());
		                  
		                 
		                   }
		                   
		                  });
		          }); });
		});
		  
		  
		  }); 
	  };
function groupChatButtonAfterGroup (id, newFriend, gN){
	  
	  var store_index = id;
	  var newF = newFriend;
	  var theDate = Date.now();
	  
	  document.getElementById(store_index).addEventListener("click", function(){
		    $('#xyz').text("are we here outside");
		    console.log("this is gc notif button");
	        console.log("this is the friend whom we are inviting");
			console.log(newF);
		    $.getJSON('/getroom', function(theRoom) {
		    	$.post('/sendsinglegroupchat', {
			        addF: newF,
			        timestamp: theDate,
				  	  groupRoomId: theRoom,
				  	  group: gN
			        }, function(d,s) {
			});
		    });
			
	  });
	  
	  }
  function setgButtonNotif(id, usersArr, index, sender, room, gpN){
	  var store_index = id;
	  var arr = usersArr;
	  document.getElementById(store_index).addEventListener("click", function(){
	  roomId = room;
	  $.post('/setroomid', {
          roomId: room
          }, function(d,s) {});
	          socket.emit('join room', {
	          sender: sender,
	          room: room
	          });
	          $('#chatname').text(gpN);
          	   $('#chatusername').empty();
	          $('#messages').empty();
	          $('#chatmessages').addClass("split");
	          $('#chatmessages').addClass("right");
	          $('#notifications').hide();
	          $('#activeusers').hide();
	          $('#chatmessages').show();
	          $('#invites').addClass("split");
	          $('#invites').addClass("left");
	          $('#invites').show();
	          $('#groupchats').hide();
	          addMessages();
	          
	          $.getJSON('/getpeoplenotingc', function(elements) {
	              activeUsers = elements;
	              
	              for (var i=0; i<activeUsers.length; i++) {
	               str = "users"+i;
	            	  tableRow = "<tr><td> <h4>" + activeUsers[i] + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Invite</button></td></tr>";
	                  $('#groupinvites').append(tableRow);
	                  
	                  groupChatButtonAfterGroup(str, activeUsers[i], gpN);
	             
	               }
	               
	              });
	 });
	  
	   }
  function setButtonNotif(id, usersArr, index, rBy, room, f){
	  var store_index = id;
	  var arr = usersArr;
	  var fromUser = f;
	  document.getElementById(store_index).addEventListener("click", function(){
	        
		  $.post('/setroomid', {
              roomId: room
              }, function(d,s) {});
	          socket.emit('join room', {
	          sender: rBy,
	          room: room
	          });
	          
	          
	          forGroup.push(rBy);
	          $('#messages').empty();
	          $('#chatmessages').addClass("split");
	          $('#chatmessages').addClass("right");
	          $('#notifications').hide();
	          $('#activeusers').hide();
	          $('#chatmessages').show();
	          $('#invites').addClass("split");
	          $('#invites').addClass("left");
	          $('#invites').show();
	          $('#groupchats').hide();
	          $.post('/getinfo', {
	              fren: f
	              }, function(d,s) {
	           	   var fullName = d.Items[0].first.S + " " + d.Items[0].last.S;
	           	   var userAt = "@" + d.Items[0].username.S;
	           	   $('#chatname').text(fullName);
	           	   $('#chatusername').text(userAt);
	              });
	          $.getJSON('/getpeoplenotinchat', function(elements) {
	              activeUsers = elements;
	              
	              for (var i=0; i<activeUsers.length; i++) {
	               str = "users"+i;
	            	  tableRow = "<tr><td> <h4>" + activeUsers[i] + "</h4></td><td><button type='submit' id ="+ str +" class='btn btn-primary'>Invite</button></td></tr>";
	                  $('#groupinvites').append(tableRow);
	                  
	                  groupChatButton(str, activeUsers[i], fromUser);
	               }
	               
	              });
	          
	          addMessages();
	 });
	  
	   }
  function addMessages(){
	  $.getJSON('/getroom', function(theRoom) {$.post('/getchats', {
      room: theRoom
      }, function(d,s) {
    	  console.log(theRoom);
      if (d.Items.length === 0) {
     
      }
      else {
    	  $.getJSON('/getuser', function(theUser) {
    		  for (var i = 0; i < d.Items.length; i++) {
    		      var message_temp = document.createElement("li");
    		      var nameOfSender = document.createElement("p");
    		      
    		      if (theUser === d.Items[i].user.S) {
    		      message_temp.setAttribute("class", "center");
    		      nameOfSender.setAttribute("class", "centertext");
    		      }
    		      else {
    		      message_temp.setAttribute("class", "outside");
    		      nameOfSender.setAttribute("class", "outsidetext");
    		      }
    		      nameOfSender.appendChild(document.createTextNode(d.Items[i].user.S));
    		      message_temp.appendChild(nameOfSender);
    		      message_temp.appendChild(document.createTextNode(d.Items[i].msg.S));
    		      $('#messages').append(message_temp);
    		      $('#messages').animate({
    		      scrollTop: $('#messages').get(0).scrollHeight
    		      }, 0);
    		     
    		      }
          });
      
      }
      });});
  
 

 };


</script>
<body>
<main>
<div id="invites">
<h2><b>Invite to Group</b></h2>
<table id="groupinvites" border="1">
<tr></tr>
</table>
</div>
<div id="activeusers" class = "column">
<!-- This is a simple page template that displays two values, with a simple
  JavaScript conditional. You'll need something slightly fancier for HW4,
  probably with a loop for generating the rows of the table. -->
  <h2><b>List of Friends</b></h2>
  <table border="1" id = "activeu">
<% for(var i=0; i < data.length; i++) { %>
   <tr>
   <td> <%=  data[i].username.S %> </td>
   <td><button type="submit" id = <%= i %> class="btn btn-primary">Request to chat</button></td>

   
     
   </tr>
<% } %>
</table>
</div>
<div id ="notifications" class = "column">
<th> <h2><b>Chat Requests </b></h2></th>
<table id="notifstable" border="1">

</table>
</div>
<div id ="groupchats" class = "column">
<h2><b>Group Chat Requests</b></h2>
<table id="gpnotifstable" border="1">

</table>
</div>
<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Group Name</h1>
    <input type="text" placeholder="Group Name" id = "gInput" required>

    <button type="button" class="btn" id = "gName">Create Group</button>
    <button type="button" class="btn cancel" onclick="closeForm();">Cancel</button>
  </form>
</div>
<div id="chatmessages">
<div id = "chatname" class = "chattitle"></div>
<div id = "chatusername" class = "chatuser"></div>
<div class = "config column">
<ul id="messages">
</ul>
</div>
<form id="message-form">
<div id = "form-message">
<input class="form-control" id = "input" placeholder="type a message...">
<button type="button" id ="send-btn" class="btn btn-primary" onclick="return sendChat();"><i>Send</i></button>
<button type="button" id ="leavechat" class="btn btn-primary" onclick="return leaveChat();"><i>Leave Chat</i></button>

</div>
</form>
</div>
<div id="xyz"></div>
</main>
</body>
</html>