<html>
  <head>
     <link rel="shortcut icon" href="/favicon.ico?v=1.1" type="image/x-icon" />
    <title>PennBook</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
      }
      .login-box {
        max-width: 330px;
        margin: 0 auto;
      }
      .login-box .form-control {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="login-box">
      <h4>Login</h4>
      <form method="post" action="/check_user">
        <input
          type="text"
          name="un"
          id="un"
          size="20"
          class="form-control"
          placeholder="Username"
        />
        <input
          type="text"
          name="pw"
          id="pw"
          size="20"
          class="form-control"
          placeholder="Password"
        />
        <input
          type="submit"
          name="xyz"
          value="Login"
          class="btn btn-lg btn-primary btn-block"
        />
        <button class="btn" type="submit" value="Submit">
          <a href="/signup"> Sign Up </a>
        </button>
      </form>
      <% if (message != null) { %>
  		<p> <font color="red" size="3"><%= message %></p>
  		<% } %>
    </div>
  </body>
</html>
